{% extends 'base.html' %}
{% block content %}
    <header>
        <title>Social</title>
    </header>

    <body>
        <center>
            {% if user.is_authenticated %}
                <h1 style="color: rgb(255, 255, 255);">Social</h1>
                <hr style="background-color: rgb(255, 255, 255);">
                {% for post in posts %}
                    <p style="color: rgb(255, 255, 255);">{{post.author.username}}</p>
                    <p style="color: rgb(255, 255, 255);">{{post.text}}</p>
                    <a href="{% url 'post_detail_view' post.id %}" class="card-link">More</a>
                    <br>
                    <small class="card-text" style="color: rgb(255, 255, 255);">{{post.get_created_at_date}}</small>
                    <hr style="background-color: rgb(255, 255, 255);">
                {% endfor %}
            {% else %}
                <h1 style="color: rgb(255, 255, 255);"><a class="card-link" href="{%url 'login'%}">Login</a> to see this page</h1>
            {% endif %}
        </center>
    </body>
{% endblock %}