{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    <header>
        <title>Products</title>
    </header>
    <body>
        <center>
            <h1 style="color: rgb(255, 255, 255);">Products</h1>
            <br>
        </center>
        <div class="row row-cols-1 row-cols-md-3 bg-body">
            {% for p in prds %}
            <div class="col mb-4">
              <div class="card bg-dark">
                <img src="{{ p.product_image.url }}" class="card-img-top">
                <div class="card-body">
                  <h4 class="card-title" style="color: rgb(255, 255, 255);">{{ p.title }}</h4>
                  <p class="card-text" style="color: rgb(255, 255, 255);">{{p.price}}$</p>
                  <p class="card-text" style="color: rgb(255, 255, 255);">{{p.total_likes}} Likes</p>
                  <a href="{% url 'show_detail_of_product' p.pk prds.number %}" class="card-link" name="p_id" value="{{ p.id }}">More</a>
                </div>
              </div>
            </div>
            {% endfor %}
        </div>
        <center>
            <br>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                {% if prds.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquoFirst page</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{prds.previous_page_number}}">Previous</a></li>
                {% endif %}
                
                {% for i in nums %}
                    <li class="page-item"><a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
                {% endfor %}
    
                {% if prds.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{prds.next_page_number}}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{prds.paginator.num_pages}}">Last page&raquo</a></li>
                {% endif %}
                </ul>
            </nav>
            <br>
        </center>
    </body>
{% endblock %}