{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <header>
        <title>Change Password</title>
    </header>

    <body>
        <div class="shadow p-4 mb-5 bg-dark rounded" style="color: rgb(255, 255, 255);">
            <h1>Change Password Here</h1>
            <br>
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn btn-success">Change Password</button>
                <a class="btn btn-primary" href="{% url 'profile' %}" role="button">Cancel</a>
            </form>
        </div>
    </body>
{% endblock %}