{% extends 'home/base.html' %}
{% block content %}
    <header>
        <title>Club</title>
    </header>
    <body>
        <center>
            {% if user.is_authenticated %}
                <h1 style="color: rgb(255, 255, 255);">Club</h1>
                <p class="text-light">Posts from people you follow</p>
                <hr style="background-color: rgb(255, 255, 255);">
                {% for post in posts %}
                    {% if post.author_username in user_following_list %}
                        <div class="shadow p-2 card bg-dark" style="width: 28rem;">
                            <div class="media content-section bg-dark">
                                {% if post.author.userprofile.profile_image %}
                                    <img class="rounded-circle article-img" src="{{post.author.userprofile.profile_image.url}}" width="64" height="64">
                                {% else %}
                                    <img class="rounded-circle article-img" src="/media/default.png" width="64" height="64">
                                {% endif %}    
                                {% if post.is_edited %}
                                    <small style="color: rgb(255, 255, 255);">{{post.author.first_name}} {{post.author.last_name}} <a href="{% url 'personal_page' post.author %}">@{{post.author}}</a></small>
                                    <small style="color: rgb(52, 58, 64);">_</small>
                                    <small><small class="text-muted"> edited ({{post.humanized_edit_date}})</small></small>
                                {% else %}
                                <small style="color: rgb(255, 255, 255);">{{post.author.first_name}} {{post.author.last_name}} <a href="{% url 'personal_page' post.author %}">@{{post.author}}</a><small class="text-muted"> {{post.created_at|date:"F, d, Y"}} ({{post.humanized_created_at}})</small></small>  
                                {% endif %}
                            </div>
                            {% if not post.has_default_image %}
                                <br>
                                <center>
                                    <img src="{{post.post_image.url}}" class="img-fluid img-thumbnail bg-dark" width="414" height="414">
                                </center> 
                                <br>   
                            {% endif %}
                            <p class="card-text" style="color: rgb(255, 255, 255);">{{post.text}}</p>
                            {% if post.is_edited %}
                                <small class="text-muted"><small>{{post.created_at|date:"F, d, Y"}} ({{post.humanized_created_at}})</small></small>
                            {% endif %}
                            {% if post.author == user %}
                                <small>
                                    <a class="nav-link active dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                                    more
                                    </a>
                                    <div class="dropdown-menu bg-dark">
                                        <a class="dropdown-item bg-dark text-success" href="{% url 'post_edit_view' post.id %}">Edit</a>
                                        <a class="dropdown-item bg-dark text-danger" href="{% url 'post_delete_view' post.id %}">Delete</a>
                                    </div>
                                </small>
                            {% else %}
                                <br>
                            {% endif %}
                        </div>
                        <br>
                    {% endif %}
                {% endfor %}
                {% if is_paginated %}

                    {% if page_obj.has_previous %}
                        <a class="btn btn-outline-info mb-4" href="?page=1">&laquoFirst page</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">&laquoPrevious</a>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and  num < page_obj.number|add:'3' %}
                            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next&raquo</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last page&raquo</a>
                    {% endif %}

                {% endif %}
            {% else %}
                <h1 style="color: rgb(255, 255, 255);"><a class="card-link" href="{%url 'login'%}">Login</a> to see this page</h1>
            {% endif %}
        </center>
    </body>
{% endblock %}