{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <header>
        <title>Edit Profile</title>
    </header>

    <body>
        <div class="shadow p-4 mb-5 bg-dark rounded" style="color: rgb(255, 255, 255);">
            <h1>Edit Profile</h1>
            <hr style="background-color: rgb(255, 255, 255);">
            <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ user_form | crispy }}
                    {{ profile_form | crispy }}
                    <div class="alert alert-danger">
                        <li>Choose an image with WIDTH = HEIGHT ( Expample: 512 x 512 width and height ) for better exprience !</li>
                        <li>Deleting your profile image is not recommended, You may have unexcepted errors !</li>
                    </div>
                    <button class="btn btn-success">Save Changes</button>
                    <a class="btn btn-primary" href="{% url 'profile' %}" role="button">Cancel</a>
                </form>
            </div>
        </div>
    </body>
{% endblock %}