{% extends 'home/base.html' %}
{% block content %}
{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    There was an error with your form !
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}
    <header>
        <title>Reset Password Done</title>
    </header>

    <body>
        <center>
            <div class="alert alert-success">      
                We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.    
                If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
                <a class="card-link" href="{% url 'home' %}">Back to Home</a>
            </div>
        </center>
    </body>
{% endblock %}