{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <header>
        <title>Reset Password</title>
    </header>

    <body>
        <br>
        <br>
        <center>
            <div class="shadow-lg p-3 mb-5 bg-light rounded text-light" style="width: 28rem;">
                <h1 class="card-title text-dark">Password reset</h1>
                <hr>
                <p class="card-text text-dark">Forgotten your password ? Enter your email address below, and we’ll email instructions for setting a new one.</p>
                <br>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <button class="btn btn-success" type="submit">Request Password Reset</button>
                    <a class="btn btn-primary" href="{% url 'login' %}" role="button">Cancel</a>
                </form>
            </div>
        </center>
    </body>
{% endblock %}