{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <header>
        <title>Reset Password Confirm</title>
    </header>

    <body>
        <br>
        <center>
            <div class="shadow-lg p-3 mb-5 bg-light rounded" style="width: 28rem; color: rgb(0, 0, 0);">
                <h1 class="card-title text-dark">Reset your password</h1>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-success" type="submit">Reset Password</button>
                    <a class="btn btn-primary" href="{% url 'login' %}" role="button">Cancel</a>
                </form>
            </div>
        </center>
    </body>
{% endblock %}