{% extends 'home/base.html' %}
{% block content %}
    <header>
        <title>{{view.kwargs.username}} Page</title>
    </header>
    <body>
        <center>
            {% if user.is_authenticated %}
                <div class="shadow p-2 card bg-dark" style="width: 28rem;">
                    <center>
                        <br>
                        {% if user_personal_page.userprofile.profile_image %}
                            <img class="rounded-circle article-img" src="{{user_personal_page.userprofile.profile_image.url}}" width="120" height="120">
                        {% else %}
                            <img class="rounded-circle article-img" src="/media/default.png" width="120" height="120">
                        {% endif %}
                    </center>
                    <div class="card-body">
                        <h4 style="color: rgb(255, 255, 255);" class="card-title">{{user_personal_page.first_name}} {{user_personal_page.last_name}}</h4>
                        <h5 style="color: rgb(255, 255, 255);" class="card-title"><a href="{% url 'personal_page' user_personal_page %}">@{{user_personal_page}}</a></h5>
                        <p style="color: rgb(255, 255, 255);" class="card-text">{{user_personal_page.userprofile.bio}}</p>
                    </div>
                    <div>
                        <hr>
                        <h5 class="card-text text-light">{{page_obj.paginator.count}} Posts | {{user_followers_count}} Followers | {{user_following_count}} Following</h5>
                        <br>
                        {% if view.kwargs.username == user.username %}
                            <a class="btn btn-primary" href="{% url 'create_post' %}">New Post</a>
                        {% else %}
                            <form action="{% url 'follow' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="{{user.username}}" name="follower">
                                <input type="hidden" value="{{user_personal_page}}" name="_user">
                                {% if is_follow %}
                                    <button type="submit" class="btn btn-secondary">Unfollow</button>
                                {% else %}
                                    <button type="submit" class="btn btn-primary">Follow</button>
                                {% endif %}
                            </form>
                        {% endif %}
                    </div>   
                    <br>
                    <ul class="list-group list-group-flush">
                        <br>
                        <small class="text-muted">Joined at : {{user_personal_page.date_joined|date:"F d, Y"}} ({{user_personal_page.userprofile.get_created_at_date}})</small> 
                    </ul>
                </div>
                <hr style="background-color: rgb(255, 255, 255);">
                {% for post in posts %}
                        <div class="shadow p-2 card bg-dark" style="width: 28rem;">
                            <div class="media content-section bg-dark">
                                {% if post.author.userprofile.profile_image %}
                                    <img class="rounded-circle article-img" src="{{post.author.userprofile.profile_image.url}}" width="64" height="64">
                                {% else %}
                                    <img class="rounded-circle article-img" src="/media/default.png" width="64" height="64">
                                {% endif %}                                      <small style="color: rgb(52, 58, 64);">_</small>
                                {% if post.is_edited %}
                                    <small style="color: rgb(255, 255, 255);">{{post.author.first_name}} {{post.author.last_name}} <a href="{% url 'personal_page' post.author %}">@{{post.author}}</a></small>
                                    <small style="color: rgb(52, 58, 64);">_</small>
                                    <small><small class="text-muted"> edited ({{post.humanized_edit_date}})</small></small>
                                {% else %}   
                                    <small style="color: rgb(255, 255, 255);">{{post.author.first_name}} {{post.author.last_name}} <a href="{% url 'personal_page' post.author %}">@{{post.author}}</a><small class="text-muted"> {{post.created_at|date:"F, d, Y"}} ({{post.humanized_created_at}})</small></small> 
                                {% endif %}
                            </div>
                            {% if not post.has_default_image %}
                                <br>
                                <center>
                                    <img src="{{post.post_image.url}}" class="img-fluid img-thumbnail bg-dark" width="400" height="400">
                                </center>
                                <br>   
                            {% endif %}
                            <p class="card-text" style="color: rgb(255, 255, 255);">{{post.text}}</p>
                            {% if post.is_edited %}
                                <small class="text-muted"><small>{{post.created_at|date:"F, d, Y"}} ({{post.humanized_created_at}})</small></small>
                            {% endif %}
                            {% if post.author == user %}
                                <small>
                                    <a class="nav-link active dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                                    more
                                    </a>
                                    <div class="dropdown-menu bg-dark">
                                        <a class="dropdown-item bg-dark text-success" href="{% url 'post_edit_view' post.id %}">Edit</a>
                                        <a class="dropdown-item bg-dark text-danger" href="{% url 'post_delete_view' post.id %}">Delete</a>
                                    </div>
                                </small>
                            {% else %}
                                <br>
                            {% endif %}
                        </div>
                        <br>
                {% endfor %}
                {% if is_paginated %}
                    {% if page_obj.has_previous %}
                        <a class="btn btn-outline-info mb-4" href="?page=1">&laquoFirst page</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">&laquoPrevious</a>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and  num < page_obj.number|add:'3' %}
                            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next&raquo</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last page&raquo</a>
                    {% endif %}
                {% endif %}  
            {% else %}
                <h1 style="color: rgb(255, 255, 255);"><a class="card-link" href="{%url 'login'%}">Login</a> to see this page</h1>
            {% endif %}
        </center>
    </body>
{% endblock %}