{% extends 'home/base.html' %}
{% block content %}
    <header>
        <title>Club</title>
    </header>
    <body>
        <center>
            {% if user.is_authenticated %}
                <h1>Club</h1>
                <p class="text-dark">Posts from people you follow</p>
                <hr>
                {% for post in user_followings_posts_list %}
                    <div class="shadow p-2 card bg-light" style="width: 28rem;">
                        <div class="media content-section bg-light">
                            {% if post.author.userprofile.profile_image %}
                                <img class="rounded-circle article-img" src="{{post.author.userprofile.profile_image.url}}" width="64" height="64">
                            {% else %}
                                <img class="rounded-circle article-img" src="/media/default.png" width="64" height="64">
                            {% endif %}    
                            {% if post.is_edited %}
                                <small class="text-dark">{{post.author.first_name}} {{post.author.last_name}} <a href="{% url 'personal_page' post.author %}">@{{post.author}}</a></small>
                                <small style="color: rgb(255, 255, 255);">_</small>
                                <small><small class="text-muted"> edited ({{post.humanized_edit_date}})</small></small>
                            {% else %}
                                <small>{{post.author.first_name}} {{post.author.last_name}} <a href="{% url 'personal_page' post.author %}">@{{post.author}}</a><small class="text-muted"> {{post.created_at|date:"F, d, Y"}} ({{post.humanized_created_at}})</small></small>  
                            {% endif %}
                            </div>
                            {% if not post.has_default_image %}
                                <br>
                                <center>
                                    <img src="{{post.post_image.url}}" class="img-fluid img-thumbnail bg-light" width="414" height="414">
                                    <p><a class="card-link" href="{{post.post_image.url}}" download><i class="material-icons" style="color:black">file_download</i></a></p>
                                </center> 
                            {% endif %}
                            <p class="card-text text-dark">{{post.text}}</p>
                            {% if post.is_edited %}
                                <small class="text-muted"><small>{{post.created_at|date:"F, d, Y"}} ({{post.humanized_created_at}})</small></small>
                            {% endif %}
                            <div class="d-flex">
                                <form action="{% url 'like_post' post.pk %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{request.path}}">
                                    <button style="background-color:transparent; border:none; box-shadow:none;" typt="submit" name="post_id" value="{{ post.id }}">
                                        {% if user in post.likes.all%}
                                            <a class="text-danger"><i class="material-icons" style="font-size:20px;">favorite</i>{{post.likes.all.count}}</a>
                                        {% else %}
                                            <a class="text-secondary"><i class="material-icons" style="font-size:20px;">favorite</i>{{post.likes.all.count}}</a>
                                        {% endif %}
                                    </button> 
                                </form>
                                <form action="{% url 'dislike_post' post.pk %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{request.path}}">
                                    <button style="background-color:transparent; border:none; box-shadow:none;" typt="submit" name="post_id" value="{{ post.id }}">
                                        {% if user in post.dislikes.all%}
                                            <a class="text-dark"><i class="material-icons" style="font-size:20px;">thumb_down</i>{{post.dislikes.all.count}}</a>
                                        {% else %}
                                            <a class="text-secondary"><i class="material-icons" style="font-size:20px;">thumb_down</i>{{post.dislikes.all.count}}</a>
                                        {% endif %}
                                    </button>
                                </form>
                                <a class="text-secondary" href="{% url 'post_detail_view' post.pk %}"><i class="material-icons" style="font-size:20px;">sms</i>{{post.commented_post.count}}</a>
                            </div>
                        </div>
                        <br>
                {% endfor %}
                {% if is_paginated %}

                    {% if page_obj.has_previous %}
                        <a class="btn btn-outline-primary mb-4" href="?page=1">&laquoFirst page</a>
                        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">&laquoPrevious</a>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and  num < page_obj.number|add:'3' %}
                            <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Next&raquo</a>
                        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last page&raquo</a>
                    {% endif %}

                {% endif %}
            {% else %}
                <h1><a class="card-link" href="{%url 'login'%}">Login</a> to see this page</h1>
            {% endif %}
        </center>
    </body>
{% endblock %}