{% extends 'home/base.html' %}
{% block content %}
    <header>
        <title>Search</title>
    </header>

    <body>
        <center>
            {% for followings in user_followings_list %}
                <div class="card bg-light" style="width: 16rem;">
                    <center>
                        <br>
                        <img class="rounded-circle account-img" src="{{followings.userprofile.profile_image.url}}" width="100" height="100">
                    </center>
                    <h5 class="card-title"><a href="{% url 'personal_page' followings.username %}" class="card-link">@{{followings.username}}</a></h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-light">{{followings.first_name}} {{followings.last_name}}</li>
                        <li class="list-group-item bg-light">{{followings.userprofile.bio}}</li>
                    </ul>
                </div>
                <br>
            {% endfor %}
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-primary mb-4" href="?page=1">&laquoFirst page</a>
                    <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">&laquoPrevious</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and  num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Next&raquo</a>
                    <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last page&raquo</a>
                {% endif %}
            {% endif %}
        </center>
    </body>
{% endblock %}