{% extends 'home/base.html' %}
{% block content %}
    <header>
        <title>{{view.kwargs.username}} Page</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </header>
    <body>
        <center>
            {% if user.is_authenticated %}
                <div class="shadow-lg p-2 card bg-light" style="width: 28rem;">
                    <center>
                        <br>
                        {% if user_personal_page.userprofile.profile_image %}
                            <img class="rounded-circle article-img" src="{{user_personal_page.userprofile.profile_image.url}}" width="120" height="120">
                        {% else %}
                            <img class="rounded-circle article-img" src="/media/default.png" width="120" height="120">
                        {% endif %}
                    </center>
                    <div class="card-body">
                        <h4 class="card-title text-dark">{{user_personal_page.first_name}} {{user_personal_page.last_name}}</h4>
                        <h5 class="card-title text-dark"><a href="{% url 'personal_page' user_personal_page %}">@{{user_personal_page}}</a></h5>
                        <p class="card-text text-dark">{{user_personal_page.userprofile.bio}}</p>
                    </div>
                    <div>
                        <hr>
                        <h5 class="card-text text-dark">{{page_obj.paginator.count}} Posts |<a class="text-dark" href="{% url 'followers' user_personal_page %}"> {{user_followers}} Followers |<a class="text-dark" href="{% url 'followings' user_personal_page %}"> {{user_following}} Followings</a></h5>
                        <br>
                        {% if view.kwargs.username == user.username %}
                            <a class="btn btn-primary" href="{% url 'create_post' %}">New Post</a>
                        {% else %}
                            <form action="{% url 'follow' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="{{user.username}}" name="follower">
                                <input type="hidden" value="{{user_personal_page}}" name="_user">
                                {% if is_follow %}
                                    <button type="submit" class="btn btn-secondary">Unfollow</button>
                                {% else %}
                                    <button type="submit" class="btn btn-primary">Follow</button>
                                {% endif %}
                            </form>
                        {% endif %}
                    </div>   
                    <br>
                    <ul class="list-group list-group-flush">
                        <br>
                        <small class="text-muted">Joined at : {{user_personal_page.date_joined|date:"F d, Y"}} ({{user_personal_page.userprofile.get_created_at_date}})</small> 
                    </ul>
                </div>
                <hr style="background-color: rgb(255, 255, 255);">
                {% for post in posts %}
                        <div class="shadow-lg p-2 card bg-light" style="width: 28rem;">
                            <div class="media content-section bg-light">
                                {% if post.author.userprofile.profile_image %}
                                    <img class="rounded-circle article-img" src="{{post.author.userprofile.profile_image.url}}" width="64" height="64">
                                {% else %}
                                    <img class="rounded-circle article-img" src="/media/default.png" width="64" height="64">
                                {% endif %}                                      <small style="color: rgb(255, 255, 255);">_</small>
                                {% if post.is_edited %}
                                    <small class="text-dark">{{post.author.first_name}} {{post.author.last_name}} <a href="{% url 'personal_page' post.author %}">@{{post.author}}</a></small>
                                    <small style="color: rgb(255, 255, 255);">_</small>
                                    <small><small class="text-muted"> edited ({{post.humanized_edit_date}})</small></small>
                                {% else %}   
                                    <small class="text-dark">{{post.author.first_name}} {{post.author.last_name}} <a href="{% url 'personal_page' post.author %}">@{{post.author}}</a><small class="text-muted"> {{post.created_at|date:"F, d, Y"}} ({{post.humanized_created_at}})</small></small> 
                                {% endif %}
                            </div>
                            {% if not post.has_default_image %}
                                <br>
                                <center>
                                    <img src="{{post.post_image.url}}" class="img-fluid img-thumbnail bg-light" width="400" height="400">
                                    <p><a class="card-link" href="{{post.post_image.url}}" download><i class="fa fa-download" style="color:blue"></i></a></p>
                                </center>
                            {% endif %}
                            <p class="card-text text-dark">{{post.text}}</p>
                            {% if post.is_edited %}
                                <small class="text-muted"><small>{{post.created_at|date:"F, d, Y"}} ({{post.humanized_created_at}})</small></small>
                            {% endif %}
                            {% if post.author == user %}
                                <small>
                                    <a class="nav-link active dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="false">
                                    more
                                    </a>
                                    <div class="dropdown-menu bg-light">
                                        <a class="dropdown-item bg-light text-primary" href="{% url 'post_edit_view' post.id %}">Edit</a>
                                        <a class="dropdown-item bg-light text-danger" href="{% url 'post_delete_view' post.id %}">Delete</a>
                                    </div>
                                </small>
                            {% endif %}
                            <div class="d-flex flex-row">
                                <form action="{% url 'like_post' post.pk %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{request.path}}">
                                    <button style="background-color:transparent; border:none; box-shadow:none;" typt="submit" name="post_id" value="{{ post.id }}">
                                        {% if user in post.likes.all%}
                                            <i class="fa fa-thumbs-up" style="color:blue"> {{post.likes.all.count}}</i>
                                        {% else %}
                                            <i class="fa fa-thumbs-o-up" style="color:blue"> {{post.likes.all.count}}</i>
                                        {% endif %}                                </button> 
                                </form>
                                <form action="{% url 'dislike_post' post.pk %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="next" value="{{request.path}}">
                                    <button style="background-color:transparent; border:none; box-shadow:none;" typt="submit" name="post_id" value="{{ post.id }}">
                                        {% if user in post.dislikes.all%}
                                            <i class="fa fa-thumbs-down" style="color:blue"> {{post.dislikes.all.count}}</i>
                                        {% else %}
                                            <i class="fa fa-thumbs-o-down" style="color:blue"> {{post.dislikes.all.count}}</i>
                                        {% endif %}
                                    </button>
                                </form>
                            </div>
                        </div>
                        <br>
                {% endfor %}
                {% if is_paginated %}
                    {% if page_obj.has_previous %}
                        <a class="btn btn-outline-primary mb-4" href="?page=1">&laquoFirst page</a>
                        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">&laquoPrevious</a>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and  num < page_obj.number|add:'3' %}
                            <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Next&raquo</a>
                        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last page&raquo</a>
                    {% endif %}
                {% endif %}  
            {% else %}
                <h1><a class="card-link" href="{%url 'login'%}">Login</a> to see this page</h1>
            {% endif %}
        </center>
    </body>
{% endblock %}